<!-- <h1><%= link_to "Register for the mixer", new_student_path %></h1> -->
<h1>Registration is now closed.</h1>	
<h3><%= link_to "Click here", corporations_path %> to view a list of companies attending.</h3>

<% if logged_in? %>
<p><%= link_to "Logout", logout_path %></p>
<% else %>
<p>Admins login <%= link_to "here", login_path %>.</p>
<% end %>

